#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todoContainer {
  min-width: 400px;
  border: none;
  border-radius: 0 0 50px 0;
  background-color: #ffffff;
  box-shadow: 10px 10px 0 0 #c9c9c930;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.listContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-top: 20px;
}

.list {
  color: #000000;
  font-weight: 500;
  padding: 0 10px;
}

.list input {
  margin: 0 10px 0 0;
}

.add {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #000000;
}

.add input {
  width: 200px;
  border: none;
  border-radius: 30px;
  background-color: #b7b7b799;
  padding: 0 20px;
}

.editContent {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #b7b7b799;
  padding: 0 20px;
}

.list input:checked+label {
  text-decoration: line-through;
}

.timeContainer {
  width: 80vw;
  min-width: 400px;
  height: 60px;
  border: none;
  border-radius: 30px;
  padding: 0 30px;
  background-color: #9bffc163;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 8vw;
}

.timeContainer h2 {
  font-size: 30px;
}

.time {
  font-size: 20px;
}

.sayingContainer {
  min-width: 400px;
  min-height: 100px;
  border: none;
  border-radius: 30px;
  background-color: #ffffff1a;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: visible;
}

.message {
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
  display: flex;
  justify-content: start;
}

.author {
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: end;
}

.authorProfile {
  font-size: 12px;
  padding: 0 10px;
}